html, #root, .app {
  width: 100%;
  height: 100%;
}

body {
  background-color: #222436;
}

.btn, .text {
  font-size: 11px !important;
}

.btn-info {
  color: #fff !important;
  background-color: #355f7d;
  border-color: #355f7d;
}
.btn-warning {
  color: #fff !important;
  background-color: #c97539;
  border-color: #c97539;
}
.btn-warning:hover {
  background-color: #ad632f;
  border-color: #a35e2c;
}
.btn-info:hover {
  background-color: #2a4b62;
  border-color: #264459;
}
.form-control {
  box-shadow: 2px;
}

.cursor {
  cursor: pointer;
}

.text-color {
  color: #959bad;
}

.action-underline:hover {
  text-decoration: underline;
}

.network-dropdown {
  width: 150px;
  transform: translate3d(-55px, 27px, 0px) !important;
  background-color: #292d3f;
}

.plugin-dropdown-account {
  width: 300px;
  transform: translate3d(-275px, 27px, 0px) !important;
  background-color: #292d3f;
}