html, #root, .app {
  width: 100%;
  height: 100%;
}

body {
  background-color: #292d3f;
}

.btn, .text {
  font-size: 11px !important;
}
.btn {
  color: whitesmoke !important;
}
.btn:hover {
  color: grey !important;
}
